  
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Garamond;
    text-transform: uppercase;
  }
  
#NavbarParent{
    display: flex;
    justify-content: center;
}